/* * {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
} */

body {
  background-color: rgba(255, 198, 38, 0.76);
}

header {
  background-color: #393939;
}

header #logo {
  padding: 5px 0;
  margin-right: 6px;
  width: 40%;
  min-width: 120px;
}

header #logo img {
  width: 75%;
}

nav ul {
  margin-right: 5%;
}

@media (min-width: 992px) {
  nav li {
    margin-left: 3.5rem;
  }
}

@media (max-width: 991px) {
  nav li {
    margin-left: 1.5rem;
  }
}
.navbar-toggler:focus {
  outline-style: none;
}

.navbar-toggler:hover, .navbar-toggler:active {
  outline-style: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 4px !important;
}

nav ul a {
  color: white !important;
  font-family: "DK Lemon Yellow Sun";
  font-size: 1.6rem;
}

nav .collapse.show a {
  font-size: 1.3rem;
}
nav .collapsing a {
  font-size: 1.3rem;
}

@font-face {
  font-family: "Capitalis";
  src: url("../assets/fonts/CapitalisTypOasis.ttf") format("truetype");
}

@font-face {
  font-family: Dalgona;
  src: url("../assets/fonts/Dalgona/Dalgona.ttf") format("truetype");
}

@font-face {
  font-family: "DK Lemon Yellow Sun";
  src: url("../assets/fonts/DK\ Lemon\ Yellow\ Sun.otf") format("truetype");
}
