body {
  background-color: rgba(204, 185, 135, 0.54);
  min-width: 300px;
}

section {
  margin-bottom: 2rem;
}

.titleHeader {
  text-align: center;
  font-family: "DK Lemon Yellow Sun";
}

.sectionTitle {
  margin-bottom: 0;
  font-size: xxx-large;
}

.titleHeader hr {
  height: 2px;
  color: #393939;
  background-color: #393939;
  border-width: 0;
}

.sectionSubtitle {
  text-align: center;
  font-family: "DK Lemon Yellow Sun";
  margin-bottom: 0;
  font-size: x-large;
}

/********** NAVBAR **********/
header {
  background-color: #393939;
  user-select: none;
  z-index: 5 !important;
  margin-inline-start: auto !important;
  position: sticky !important;
  position: -webkit-sticky !important; /*Safari*/
  top: 0;
}

header * {
  -webkit-user-drag: none;
}

header #logo {
  padding: 5px 0;
  margin-right: 6px;
  min-width: 120px;
}

header #logo img {
  width: 12rem;
}

nav ul {
  margin-right: 5%;
}

@media (min-width: 992px) {
  nav li {
    margin-left: 3.5rem;
  }
}

@media (max-width: 991px) {
  nav li {
    margin-left: 1.5rem;
  }
}

.navbar-toggler:focus {
  outline-style: none;
}

.navbar-toggler:hover,
.navbar-toggler:active {
  outline-style: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 4px !important;
}

nav ul a {
  color: white !important;
  font-family: "DK Lemon Yellow Sun";
  font-size: 1.6rem;
}

nav .collapse.show a {
  font-size: 1.3rem;
}
nav .collapsing a {
  font-size: 1.3rem;
}

/******** CONTACT SECTION ********/

#emailBody {
  resize: none;
}

#contactSubmit {
  border-radius: 0.25rem;
  font-family: "Caviar Dreams";
  font-weight: bold;
  border: solid 2px #393939;
  box-shadow: 0.25rem 0.15rem 0.7rem -0.4rem;
  background-color: #efe9e0;
  flex: 0 !important;
  line-height: normal;
  padding: 0.3rem 0 0.2rem 0;
}

#contactSubmit:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #393939;
}

@media (min-width: 768px) {
  #contactSubmit {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  #contactSubmit {
    margin: auto;
  }

  #emailBody {
    margin-bottom: 1.3rem;
  }
}

#contactSubmit span {
  color: #393939;
  text-transform: uppercase;
  vertical-align: text-top;
}

form .row {
  margin-bottom: 2rem;
}

form label span {
  vertical-align: middle;
  font-family: "Caviar Dreams";
  font-weight: bold;
}

/********** ELEMENTS ***********/
.inputField {
  background-color: #ffffffd4;
  border: solid 2px #393939;
  font-family: Quicksand;
  border-radius: .25rem;
}

.inputField::placeholder {
  font-family: "Caviar Dreams";
  font-style: italic;
}

/********** FONTS **********/
@font-face {
  font-family: Capitalis;
  src: url("../assets/Fonts/CapitalisTypOasis.ttf") format("truetype");
}

@font-face {
  font-family: Dalgona;
  src: url("../assets/Fonts/Dalgona/Dalgona.ttf") format("truetype");
}

@font-face {
  font-family: "DK Lemon Yellow Sun";
  src: url("../assets/Fonts/DK Lemon Yellow Sun.otf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../assets/Fonts/Caviar Dreams/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../assets/Fonts/Caviar Dreams/CaviarDreams_Bold.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../assets/Fonts/Caviar Dreams/CaviarDreams_Italic.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/Fonts/Quicksand/Quicksand_Book.otf") format("truetype");
}
